@font-face {
  font-family: 'LandasansDemo01Regular';
  src: url('/assets/fonts/LandasansDemo01Regular-z88M0.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Landasans-Light';
  src: url('/assets/fonts/landasans/Landasans-UltraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Saira SemiCondensed-SemiBold';
  src: url('/assets/fonts/Major_Mono_Display,Saira_Semi_Condensed/Saira_Semi_Condensed/SairaSemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: ExtraBold;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #07141A;
  overflow: hidden;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-right {
  0%{
    opacity: 0.2;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-left {
  0%{
    opacity: 0.2;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

#follow-mouse {
  transition: transform 0.1s ease-out;
  will-change: transform;
}

h1 {
  color: #D9D9D9;
}

.nav-background {
  font-family: Saira SemiCondensed-SemiBold;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 8.5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

nav li {
  list-style: none;
  margin-top: 80px;
  margin-bottom: 80px;
  animation: fade-right 1s;
}

.element-background {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 8.5rem;
  transition: ease-in-out 0.5s;
}

.nav-element {
  color: #D9D9D9;
  text-decoration: none;
  font-size: 10px;
}

.element-background:hover {
  background-color: #026262;
  color: #07141A;
  text-decoration: underline;
  padding-top: 8px;
  padding-bottom: 8px;
}

.number-container {
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
}

.page-zero {
  font-family: LandasansDemo01Regular;
  color: #D9D9D9;
  font-size: 5rem;
}

.page-number {
  font-family: LandasansDemo01Regular;
  color: #D9D9D9;
  font-size: 5rem;
}

.scroll-number {
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.center-words {
  font-family: Landasans-Light;
  font-size: 1rem;
  color: #D9D9D9;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 0.7s;
}

.dot {
  color: black;
}

.title-container {
  position: absolute;
  left: 50px;
  bottom: 270px;
  z-index: 9;
  width: 600px;
  animation: fade-left 0.7s;
}

.name-container {
  display: flex;
  animation: fade-left 0.7s;

}

.name {
  font-family: Landasans-Light;
  color: #D9D9D9;
}

.line-1 {
  background-color: #D12F2A;
  width: 60px;
  height: 5px;
  margin-top: 15px;
  margin-right: 5px;
}

.line-2 {
  background-color: #D12F2A;
  width: 70%;
  height: 5px;
  margin-top: 15px;
  margin-left: 5px;
}

.page-title {
  font-family: LandasansDemo01Regular;
  color: #026262;
  position: absolute;
  margin-left: 40px;
  bottom: 10px;
  font-size: 18rem;
  z-index: -1;
  animation: fade-left 0.7s;
}

.occupation-conatainer {
  font-family: Landasans-Light;
  color: #D12F2A;
  position: absolute;
  right: 230px;
  top: 200px;
  font-size: 0.9rem;
  animation: fade-right 0.7s;
}

.ATL {
  color: #D9D9D9;
  font-size: 1.3rem;
}

.year {
  font-family: LandasansDemo01Regular;
  color: #026262;
  font-size: 9rem;
  position: absolute;
  right: 180px;
  top: 270px;
  animation: fade-right 0.7s;
}

.project-link {
  font-family: Saira SemiCondensed, sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
  position: absolute;
  right: 180px;
  bottom: 200px;
  z-index: 30;
  animation: fade-right 0.7s;
}

.arrow-img {
  height: 70px;
  padding-bottom: 10px;
}

.project-lnk {
  text-decoration: none;
  color: #D9D9D9;
}

.braket {
  color: #D12F2A;
  font-size: 1.2rem;
}

.head-img {
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  animation: fade 0.5s;
}

.social-link-container {
  width: 200px;
  height: 40px;
  position: absolute;
  right: 175px;
  bottom: 55px;
  display: flex;
  animation: fade-right 0.7s;
}

.social-link-container svg {
  fill: black;
  padding-left: 5px;
}

.resume-box {
  font-family: Saira SemiCondensed-SemiBold;
  color: #D9D9D9;
  font-size: 13px;
  background-color: #1C4E4E;
  border-radius: 5px;
  height: 30px;
  width: 90px;
  display: flex;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.resume-box:hover {
  background-color: #EA3900;
  cursor: pointer;
}

.resume-box svg, p {
  padding: 4px;
  z-index: 5;
}

.resume-box p {
  padding-right: 10px;
}

.mail-box,
.linkedin-box,
.github-box {
  margin-left: 5px;
  background-color: #1C4E4E;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.mail-box:hover,
.linkedin-box:hover,
.github-box:hover {
  background-color: #EA3900;
  cursor: pointer;
}

.mail-box svg,
.linkedin-box svg,
.github-box svg {
  padding: 5px;
}

.moble-menu-buttons {
  background-color: royalblue;
  position: absolute;
  display: flex;
  top: 50px;
}

.copy-message-2 {
  font-family: Saira SemiCondensed-SemiBold;
  position: absolute;
  bottom: 35px;
  right: 65px;
  font-size: 14px;
  color: #D12F2A;
  opacity: 0;
  z-index: 20;
  animation: fadeInOut 1s ease forwards;
}
#contentToCopy-2{
  opacity: 0;
  padding: 0;
}

.copy-button-2:hover{
  background-color: rgb(255, 0, 0);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.circle-img {
  height: 400px;
  position: absolute;
  bottom: 15px;
  right: 160px;
  border-radius: 50%;
  z-index: 10;
  animation: fade-right 1s;
}

.text-container {
  /* background-color: aquamarine; */
  height: 7rem;
  width: 65rem;
  margin: 50px;
  display: flex;
  animation: fade 1s;
}

.text-box {
  width: 17rem;
  margin-right: 70px;
}

.text-box h1 {
  font-family: Saira SemiCondensed-SemiBold;
  color: #D12F2A;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.text-box p {
  font-family: Saira SemiCondensed-SemiBold;
  color: #D9D9D9;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.text-box span {
  color: #D12F2A;
  margin: 0;
  padding: 0;
}

.skills-container {
  margin: 50px;
  height: 7rem;
  width: 50rem;
  animation: fade-left 1s;
  position: relative;
}

.hover{
  position: absolute;
  font-family: Saira SemiCondensed-SemiBold;
  color: #D9D9D9;
  font-size: 15px;
  left: 140px;
  top: 7px;
  animation: disapear 5s ease-in-out;
  opacity: 0;
}

@keyframes disapear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.skills-container h1 {
  font-family: Saira SemiCondensed-SemiBold;
  color: #D12F2A;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.skills-container p {
  font-family: Saira SemiCondensed-SemiBold;
  color: #D9D9D9;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}

.skill-box {
  background-color: #1C4E4E;
  display: flex;
  padding: 5px;
  height: 30px;
  width: 40px;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  margin-right: 10px;
  margin-bottom: 10px;
}

.skill-box:hover {
  width: 100px;
  background-color: #EA3900;
}

.skill-box-extend {
  background-color: #1C4E4E;
  display: flex;
  padding: 5px;
  height: 30px;
  width: 40px;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  margin-right: 10px;
  margin-bottom: 10px;
}

.skill-box-extend:hover {
  width: 130px;
  background-color: #EA3900;
}


.skill-box-extend img {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.skill-box img {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.multi-project-container {
  /* background-color: rgb(174, 255, 127); */
  height: 20rem;
  width: 42rem;
  margin: 50px;
  animation: fade-right 2s;
}

#display-container-1 {
  background-image: linear-gradient(to bottom right, #C58B00, #FFD300);
  animation: fade 0.7s;
}

#display-container-2 {
  background-image: linear-gradient(to bottom right, #9BC53D, #5A7D24);
  animation: fade 0.7s;
}

#display-container-3 {
  background-image: linear-gradient(to bottom right, #C19BF5, #8B5CF6);
  animation: fade 0.7s;
}

#display-container-4 {
  background-image: linear-gradient(to bottom right, #FF6B6B, #C44536);
  animation: fade 0.7s;
}

#display-container-5 {
  background-image: linear-gradient(to bottom right, #5BC0EB, #007BFF);
  animation: fade 0.7s;
}

#display-container-6 {
  background-image: linear-gradient(to bottom, #ea3900, #ed5300, #ef6800, #f17b08, #f28c17);
  animation: fade 0.7s;
}


.single-project-container {
  height: 36rem;
  width: 34rem;
  position: absolute;
  right: 180px;
  top: 160px;
  border-radius: 40px;
  /* z-index: 5; */
  animation: fade 2s;
}

.box {
  background-color: #07141A;
  position: absolute;
  height: 270px;
  width: 270px;
  border-radius: 40px;
  right: 30px;
  top: 30px;
}

.display-image {
  height: 260px;
  width: 260px;
  border-radius: 40px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-size: cover;
  background-position: center;
  animation: fade 1s;

}

.btn-1 {
  font-size: 1.5rem;
  color: #07141A;
  position: absolute;
  bottom: 240px;
  right: 180px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.btn-2 {
  font-size: 1.5rem;
  color: #07141A;
  position: absolute;
  bottom: 240px;
  right: 130px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.btn-1:hover,
.btn-2:hover {
  scale: 1.2;
}

.img-fade {
  animation: fade 0.7s;
}

.project-des {
  margin: 30px;
  width: 190px;
}

.project-des h1 {
  font-family: Saira SemiCondensed-SemiBold;
  color: #D9D9D9;
  font-size: 26px;
  line-height: 27px;
}

.project-des p {
  font-family: Saira SemiCondensed-SemiBold;
  color: #07141A;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 0;
}

.p-link {
  height: 23px;
  margin-right: 15px;
}

.tech-des {
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: right;

}

.tech-des h1 {
  font-family: Saira SemiCondensed-SemiBold;
  font-size: 13px;
  margin-bottom: 20px;
  color: #07141A;
}

.pg-icons {
  height: 25px;
  margin-left: 15px;
}

.circle {
  background-color: #07141A;
  position: absolute;
  height: 170px;
  width: 170px;
  border-radius: 100px;
  bottom: 30px;
  left: 30px;
  z-index: 5;
}

.circle-ani {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 100px;
  bottom: 54px;
  left: 54px;
  z-index: 20;
  scale: 0.5;
  opacity: 0;
  transition: 0.7s ease-in-out;
}

#ran-ani-1 {
  background-image: url(https://i.gifer.com/XOsX.gif);
}

#ran-ani-2 {
  background-image: url(https://i.gifer.com/2hk9.gif);
}

#ran-ani-3 {
  background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHo2Y3hodWI4dXBtbzAwOHV1dHMyc3JyaHE2dXF1YTcyOXRoeGl3dSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/9K6CebIaqQmAMxJcJQ/giphy.gif);
}

#ran-ani-4 {
  background-image: url(https://i.gifer.com/Y3in.gif);
}

#ran-ani-5 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3aHYwYTc4Njk0MjRldWtqaGI3ZHF5YmJlcjZoYzk1OTYwOG9nZG1ieiZlcD12MV9zdGlja2Vyc19zZWFyY2gmY3Q9cw/xRxLI1qWApeIlzkS9R/giphy.gif);
}

#ran-ani-6 {
  background-image: url(https://i.gifer.com/ZiaV.gif);
}

.circle-ani:hover {
  opacity: 1;
  scale: 1.4;
}

.contained-project {
  display: flex;
}

.project-holder {
  position: relative;
  background-color: #00000000;
  border-style: solid;
  border-color: #D12F2A;
  border-width: 0.95px;
  border-radius: 12px;
  height: 100px;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.project-holder h1 {
  position: relative;
  font-family: Saira SemiCondensed-SemiBold;
  color: #D12F2A;
  font-size: 12px;
}

.project-holder:hover {
  scale: 1.15;
  background-color: #1F2126;
}

.half-circle-1 {
  position: absolute;
  background-color: #F28C17;
  bottom: -10px;
  left: -10px;
  border-top-right-radius: 100px;
  height: 70px;
  width: 70px;
  transition: 0.5s ease-in-out;
}

.half-circle-2 {
  position: absolute;
  background-color: #F28C17;
  top: -10px;
  left: -10px;
  border-bottom-right-radius: 100px;
  height: 70px;
  width: 70px;
  transition: 0.5s ease-in-out;
}

.half-circle-3 {
  position: absolute;
  background-color: #F28C17;
  bottom: -10px;
  right: -10px;
  border-top-left-radius: 100px;
  height: 70px;
  width: 70px;
  transition: 0.5s ease-in-out;
}

.half-circle-4 {
  position: absolute;
  background-color: #F28C17;
  top: -10px;
  right: -10px;
  border-bottom-left-radius: 100px;
  height: 70px;
  width: 70px;
  transition: 0.5s ease-in-out;
}

.inner-circle-1 {
  position: absolute;
  background-color: #07141A;
  bottom: -10px;
  right: -10px;
  border-top-left-radius: 100px;
  height: 60px;
  width: 60px;
  transition: 0.5s ease-in-out;
}

.inner-circle-2 {
  position: absolute;
  background-color: #07141A;
  bottom: -10px;
  left: -10px;
  border-top-right-radius: 100px;
  height: 60px;
  width: 60px;
  transition: 0.5s ease-in-out;
}

.inner-circle-3 {
  position: absolute;
  background-color: #07141A;
  top: -10px;
  right: -10px;
  border-bottom-left-radius: 100px;
  height: 60px;
  width: 60px;
  transition: 0.5s ease-in-out;
}

.inner-circle-4 {
  position: absolute;
  background-color: #07141A;
  top: -10px;
  left: -10px;
  border-bottom-right-radius: 100px;
  height: 60px;
  width: 60px;
  transition: 0.5s ease-in-out;
}

.project-holder:hover .half-circle-1,
.project-holder:hover .half-circle-2,
.project-holder:hover .half-circle-3,
.project-holder:hover .half-circle-4 {
  background-color: #174647;
}

.project-holder button {
  height: 100px;
  width: 180px;
  background-color: #00000000;
  border: none;
  cursor: pointer;
}

.overlay-container {
  position: relative;
  height: 20rem;
  width: 40rem;
  margin: auto;
  margin-top: 3%;
  animation: fade 2s;
}

.overlay-container div {
  transition: 0.7s ease-in-out;
}

.overlay-1 {
  height: 15rem;
  width: 35rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  border-style: solid;
  border-color: #D12F2A;
  border-width: 0.9px;
  position: absolute;
  top: 15%;
  overflow: hidden;
  transform: translate(60px, -60px);
}

.overlay-2 {
  height: 15rem;
  width: 35rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 30px;
  border-style: solid;
  border-color: #D12F2A;
  border-width: 0.9px;
  position: absolute;
  top: 15%;

  transform: translate(30px, -30px);
}

.oval-overlay {
  height: 15rem;
  width: 90px;
  border-radius: 30px;
  background-color: #174647;
  right: -100px;
  top: 50px;
  z-index: -10;
}

.overlay-3 {
  height: 15rem;
  width: 35rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 30px;
  border-style: solid;
  border-color: #D12F2A;
  border-width: 0.9px;
  position: absolute;
  top: 15%;
}

.circle-overlay {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: #EA3B00;
  right: -70px;
  top: 50px;

}

.line-3,
.line-4,
.line-5 {
  position: absolute;
  background-color: #F08D1A;
  width: 200px;
  height: 3px;
}

.line-3 {
  top: 80px;
  right: 90px;
}

.line-4 {
  top: 120px;
  right: 120px;
}

.line-5 {
  bottom: 80px;
  right: 95px;
}

.email-90deg,
.lkd-90deg {
  font-family: Saira SemiCondensed-SemiBold;
  color: #D12F2A;
  font-size: 17px;
  transform: rotate(-90deg);
  width: 90px;
  position: absolute;
  z-index: 10;
}

.email-90deg {
  bottom: 65px;

}

.lkd-90deg {
  top: 50px;
}

.overlay-4 {
  height: 15rem;
  width: 35rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 30px;
  border-style: solid;
  border-color: #D12F2A;
  border-width: 0.9px;
  position: absolute;
  top: 15%;

  transform: translate(-30px, 30px);
  z-index: 1;
}

.overlay-4:hover .overlay-3 {
  opacity: 0;
}

.link-overlay,
.email-overlay {
  font-family: Saira SemiCondensed-SemiBold;
  color: #D9D9D9;
  font-size: 20px;
  width: 90px;
  position: absolute;
  left: 110px;
}

.link-overlay {
  top: 27px;
}

.link-overlay a {
  padding-top: 2px;
  padding-bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.link-overlay img {
  height: 18px;
  transition: 0.2s ease-in-out;
}

.link-overlay a:hover {
  background-color: rgba(61, 61, 61, 0.5);
  padding-top: 4px;
  padding-bottom: 2;
  padding-right: 7px;
  padding-left: 7px;

}

.link-overlay a:hover img {
  transform: scale(1.1);
}

.email-overlay {
  bottom: 25px;
  width: fit-content;
}

.copy-button {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.copy-button:hover {
  transform: scale(1.1);
  background-color: rgba(61, 61, 61, 0.5);
}

.copy-button:active {
  background-color: rgba(61, 61, 61, 0.8);
}

.copy-icon {
  height: 20px;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 3px;
}

.copy-message {
  font-family: Saira SemiCondensed-SemiBold;
  position: absolute;
  bottom: 25px;
  right: 145px;
  font-size: 14px;
  color: #D12F2A;
  opacity: 0;
  animation: fadeInOut 2s ease forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}


.overlay-container:hover .overlay-1,
.overlay-container:hover .overlay-2,
.overlay-container:hover .overlay-4 {
  transform: translate(0, 0);
}


@media(max-width: 800px) {
  .nav-background {
    position: fixed;
    width: 60%;
    right: -70%;
    z-index: 10;
    transition: 0.75s ease-in-out;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .close-sidebar-button {
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    height: 32px;
  }

  .page-title {
    /* margin-left: 50px;
    bottom: 50px; */
    font-size: 2rem;
  }

  #sidebar-active:checked~.nav-background {
    right: 0;
  }

  #sidebar-active:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9;
  }

  .nav-element {
    font-size: 20px;
  }
}